In [64]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt

In [65]:
locations = pd.read_csv("Goods_lifted.csv")
locations.rename(columns = {'Region and country: Origin (row) and Destination (column)':'Location'}, inplace = True)

In [66]:
dropped_columns = ['United Kingdom', 'Northern Ireland', 'Great Britain', 'England']
locations = locations[~locations['Location'].isin(dropped_columns)]
locations.drop(dropped_columns, axis=1, inplace=True)

In [67]:
locations = locations.replace("[u]", 0.01)
locations

,Location,North East,North West,Yorkshire and The Humber,East Midlands,West Midlands,East,London,South East,South West,Wales,Scotland
0,North East,39,4,6,2,1,1,0.01,0.01,0.01,0.01,3
1,North West,4,125,12,9,14,3,1,3,2,5,7
2,Yorkshire and The Humber,5,14,126,15,7,5,1,3,3,2,3
3,East Midlands,2,11,12,117,17,19,5,10,5,2,1
4,West Midlands,2,14,5,12,110,6,4,7,9,5,2
5,East,1,4,5,18,10,113,12,14,4,2,1
6,London,0.01,1,1,2,3,8,63,11,1,0.01,0.01
7,South East,0.01,2,2,8,7,13,11,122,8,1,1
8,South West,0.01,2,2,4,8,3,2,8,107,6,0.01
10,Wales,0.01,6,2,2,8,1,0.01,2,7,54,0.01
11,Scotland,3,6,2,1,1,0.01,0.01,1,0.01,0.01,139

In [68]:
locations.to_csv("Goods_lifted_cleaned.csv", index=False)

In [69]:
cities_raw = pd.read_csv("RFS0123.csv")

In [70]:
cities_mod = cities_raw.replace("[u]", 0.1)
cities = cities_mod.replace("[low]", 0.5)
cities["Location_Name"].to_list()

['Durham',
 'Blyth',
 'Carlisle',
 'Manchester',
 'Lancaster',
 'Warrington',
 'Liverpool',
 'Kingston upon Hull',
 'Middlesbrough',
 'Sheffield',
 'Leeds',
 'Derby',
 'Loughborough',
 'Lincoln',
 'Hereford',
 'Telford',
 'Birmingham',
 'Norwich',
 'Luton',
 'Southend-on-Sea',
 'Hammersmith',
 'Stratford',
 'Woodford',
 'Morden',
 'Harrow',
 'Milton Keynes',
 'Woking',
 'Southampton',
 'Dover',
 'Bristol',
 'Poole',
 'Exeter',
 'Plymouth',
 'Swansea',
 'Cardiff',
 'Aberdeen',
 'Perth',
 'Edinburgh',
 'Fort William',
 'Dumfries']

In [71]:
"""scottish_towns = ['Aberdeen', 'Perth', 'Edinburgh', 'Fort William', 'Dumfries']

# Drop Scottish towns from both rows and columns
cities = cities[:35]  # Drop rows
towns_to_remove = ["Aberdeen","Perth", "Edinburgh", "Fort William", "Dumfries"]
cities.drop(towns_to_remove, axis = 1, inplace= True)
cities"""

'scottish_towns = [\'Aberdeen\', \'Perth\', \'Edinburgh\', \'Fort William\', \'Dumfries\']\n\n# Drop Scottish towns from both rows and columns\ncities = cities[:35]  # Drop rows\ntowns_to_remove = ["Aberdeen","Perth", "Edinburgh", "Fort William", "Dumfries"]\ncities.drop(towns_to_remove, axis = 1, inplace= True)\ncities'

In [72]:
cities.to_csv("RFS0123_cleaned.csv", index=False)

In [73]:
Distance = pd.read_csv("Distance.csv", index_col = "Town")
Duration = pd.read_csv("Duration.csv", index_col = "Town")
cities = pd.read_csv("RFS0123_cleaned.csv")
city_names = cities["Location_Name"].tolist()

In [74]:
"""scottish_towns = ['Aberdeen, UK', 'Perth, UK', 'Edinburgh, UK', 'Fort William, UK', 'Dumfries, UK']

# Drop Scottish towns from both rows and columns
Duration.drop(scottish_towns, axis=0, inplace=True)  # Drop rows
Distance.drop(scottish_towns, axis = 0, inplace = True)  # Drop rows
towns_to_remove = ["Aberdeen, UK","Perth, UK", "Edinburgh, UK", "Fort William, UK", "Dumfries, UK"]
Duration.drop(towns_to_remove, axis = 1, inplace= True)
Distance.drop(towns_to_remove, axis = 1, inplace= True)"""

'scottish_towns = [\'Aberdeen, UK\', \'Perth, UK\', \'Edinburgh, UK\', \'Fort William, UK\', \'Dumfries, UK\']\n\n# Drop Scottish towns from both rows and columns\nDuration.drop(scottish_towns, axis=0, inplace=True)  # Drop rows\nDistance.drop(scottish_towns, axis = 0, inplace = True)  # Drop rows\ntowns_to_remove = ["Aberdeen, UK","Perth, UK", "Edinburgh, UK", "Fort William, UK", "Dumfries, UK"]\nDuration.drop(towns_to_remove, axis = 1, inplace= True)\nDistance.drop(towns_to_remove, axis = 1, inplace= True)'

In [75]:
Distance

,"Durham, UK","Blyth, UK","Carlisle, UK","Manchester, UK","Lancaster, UK","Warrington, UK","Liverpool, UK","Kingston upon Hull, UK","Middlesbrough, UK","Sheffield, UK",...,"Poole, UK","Exeter, UK","Plymouth, UK","Swansea, UK","Cardiff, UK","Aberdeen, UK","Perth, UK","Edinburgh, UK","Fort William, UK","Dumfries, UK"
Town,,,,,,,,,,,,,,,,,,,,,
"Durham, UK",NaN,51.5 km,122 km,208 km,143 km,232 km,255 km,207 km,43.3 km,184 km,...,544 km,564 km,632 km,539 km,479 km,437 km,302 km,224 km,438 km,169 km
"Blyth, UK",50.6 km,NaN,114 km,255 km,216 km,278 km,301 km,212 km,80.3 km,231 km,...,591 km,610 km,679 km,586 km,526 km,400 km,265 km,187 km,402 km,161 km
"Carlisle, UK",113 km,114 km,NaN,191 km,110 km,191 km,200 km,277 km,152 km,254 km,...,588 km,559 km,627 km,535 km,474 km,369 km,230 km,159 km,322 km,52.8 km
"Manchester, UK",213 km,257 km,195 km,NaN,89.4 km,33.7 km,57.0 km,161 km,184 km,61.1 km,...,413 km,385 km,453 km,360 km,300 km,564 km,425 km,354 km,517 km,248 km
"Lancaster, UK",143 km,215 km,107 km,84.4 km,NaN,84.2 km,93.5 km,230 km,161 km,151 km,...,481 km,452 km,521 km,428 km,368 km,476 km,337 km,267 km,429 km,160 km
"Warrington, UK",235 km,279 km,190 km,32.1 km,84.9 km,NaN,32.4 km,183 km,206 km,95.1 km,...,404 km,376 km,444 km,352 km,291 km,560 km,421 km,350 km,513 km,244 km
"Liverpool, UK",259 km,302 km,198 km,55.5 km,92.4 km,31.4 km,NaN,207 km,229 km,126 km,...,433 km,405 km,473 km,276 km,320 km,567 km,428 km,358 km,520 km,251 km
"Kingston upon Hull, UK",212 km,214 km,275 km,161 km,230 km,184 km,207 km,NaN,141 km,110 km,...,463 km,482 km,550 km,458 km,397 km,644 km,505 km,427 km,597 km,328 km
"Middlesbrough, UK",43.0 km,80.9 km,149 km,182 km,160 km,205 km,229 km,139 km,NaN,158 km,...,518 km,538 km,606 km,513 km,453 km,468 km,334 km,255 km,472 km,203 km
"Sheffield, UK",189 km,232 km,252 km,61.0 km,150 km,94.4 km,125 km,110 km,160 km,NaN,...,385 km,404 km,472 km,380 km,320 km,621 km,482 km,404 km,575 km,305 km
"Leeds, UK",136 km,179 km,199 km,71.2 km,140 km,94.5 km,118 km,102 km,107 km,59.2 km,...,430 km,450 km,518 km,426 km,365 km,568 km,429 km,351 km,521 km,252 km
"Derby, UK",240 km,283 km,302 km,130 km,197 km,118 km,150 km,154 km,210 km,75.4 km,...,321 km,331 km,399 km,307 km,246 km,672 km,533 km,454 km,625 km,356 km
"Loughborough, UK",261 km,305 km,323 km,151 km,218 km,139 km,171 km,175 km,232 km,96.8 km,...,297 km,323 km,391 km,299 km,238 km,693 km,554 km,476 km,646 km,377 km
"Lincoln, UK",268 km,312 km,331 km,190 km,286 km,241 km,264 km,117 km,239 km,131 km,...,350 km,414 km,482 km,389 km,329 km,701 km,562 km,483 km,654 km,384 km
"Hereford, UK",406 km,449 km,395 km,222 km,289 km,210 km,196 km,320 km,377 km,242 km,...,215 km,210 km,278 km,119 km,89.4 km,764 km,625 km,555 km,717 km,448 km
"Telford, UK",326 km,370 km,314 km,142 km,209 km,130 km,116 km,240 km,297 km,162 km,...,332 km,300 km,368 km,196 km,216 km,683 km,544 km,474 km,637 km,367 km
"Birmingham, UK",310 km,354 km,311 km,139 km,206 km,127 km,158 km,225 km,281 km,146 km,...,281 km,271 km,339 km,246 km,186 km,681 km,542 km,471 km,634 km,364 km
"Norwich, UK",386 km,430 km,449 km,389 km,456 km,377 km,409 km,234 km,357 km,249 km,...,377 km,475 km,579 km,497 km,436 km,819 km,680 km,601 km,772 km,502 km
"Luton, UK",383 km,426 km,443 km,271 km,338 km,259 km,290 km,261 km,354 km,219 km,...,204 km,303 km,406 km,324 km,263 km,813 km,674 km,598 km,766 km,497 km
"Southend-on-Sea, UK",462 km,505 km,525 km,375 km,442 km,363 km,394 km,343 km,433 km,322 km,...,261 km,360 km,428 km,391 km,331 km,894 km,755 km,677 km,847 km,578 km
"Hammersmith, UK",450 km,493 km,505 km,332 km,399 km,320 km,352 km,310 km,421 km,286 km,...,172 km,306 km,374 km,292 km,232 km,874 km,735 km,664 km,827 km,558 km
"Stratford, UK",341 km,384 km,360 km,188 km,255 km,176 km,207 km,255 km,312 km,177 km,...,243 km,231 km,299 km,217 km,157 km,730 km,591 km,520 km,683 km,414 km
"Woodford, UK",428 km,472 km,491 km,330 km,397 km,318 km,350 km,310 km,399 km,278 km,...,227 km,326 km,429 km,347 km,287 km,861 km,722 km,643 km,814 km,545 km
"Morden, UK",476 km,520 km,531 km,359 km,426 km,347 km,378 km,390 km,447 km,312 km,...,175 km,274 km,343 km,318 km,258 km,900 km,761 km,691 km,854 km,584 km
"Harrow, UK",417 km,460 km,477 km,305 km,372 km,293 km,324 km,295 km,388 km,253 km,...,177 km,275 km,373 km,291 km,230 km,847 km,708 km,632 km,800 km,531 km
"Milton Keynes, UK",357 km,401 km,417 km,245 km,312 km,233 km,265 km,271 km,328 km,193 km,...,237 km,299 km,368 km,286 km,225 km,787 km,648 km,572 km,740 km,471 km
"Woking, UK",453 km,497 km,508 km,336 km,403 km,324 km,355 km,367 km,424 km,289 km,...,141 km,240 km,308 km,272 km,211 km,877 km,738 km,668 km,831 km,561 km
"Southampton, UK",496 km,540 km,533 km,361 km,428 km,348 km,380 km,410 km,467 km,332 km,...,59.9 km,175 km,243 km,270 km,210 km,902 km,763 km,693 km,856 km,586 km
"Dover, UK",541 km,585 km,604 km,454 km,521 km,442 km,473 km,422 km,512 km,402 km,...,292 km,390 km,459 km,434 km,374 km,974 km,835 km,756 km,927 km,658 km
"Bristol, UK",453 km,497 km,442 km,270 km,337 km,258 km,289 km,367 km,424 km,289 km,...,109 km,126 km,195 km,128 km,67.4 km,812 km,673 km,602 km,765 km,496 km
"Poole, UK",548 km,592 km,585 km,412 km,479 km,400 km,432 km,462 km,519 km,384 km,...,NaN,126 km,195 km,238 km,178 km,954 km,815 km,745 km,907 km,638 km
"Exeter, UK",569 km,612 km,557 km,385 km,452 km,373 km,405 km,483 km,540 km,404 km,...,128 km,NaN,74.4 km,233 km,173 km,927 km,788 km,717 km,880 km,611 km
"Plymouth, UK",636 km,680 km,625 km,453 km,520 km,441 km,472 km,550 km,607 km,472 km,...,196 km,73.5 km,NaN,300 km,240 km,995 km,856 km,785 km,948 km,678 km
"Swansea, UK",545 km,589 km,534 km,362 km,429 km,349 km,276 km,459 km,516 km,381 km,...,240 km,234 km,303 km,NaN,74.0 km,903 km,764 km,694 km,857 km,587 km
"Cardiff, UK",483 km,527 km,472 km,300 km,367 km,288 km,319 km,397 km,454 km,319 km,...,178 km,173 km,241 km,71.5 km,NaN,841 km,703 km,632 km,795 km,525 km
"Aberdeen, UK",437 km,399 km,369 km,558 km,477 km,558 km,567 km,644 km,467 km,621 km,...,954 km,926 km,994 km,902 km,841 km,NaN,140 km,204 km,247 km,337 km
"Perth, UK",303 km,266 km,236 km,425 km,343 km,424 km,434 km,510 km,334 km,488 km,...,821 km,793 km,861 km,768 km,708 km,139 km,NaN,71.2 km,164 km,204 km
"Edinburgh, UK",224 km,186 km,158 km,346 km,265 km,346 km,355 km,426 km,254 km,403 km,...,743 km,714 km,783 km,690 km,630 km,205 km,70.5 km,NaN,235 km,126 km
"Fort William, UK",429 km,402 km,322 km,511 km,430 km,511 km,520 km,597 km,472 km,574 km,...,908 km,879 km,947 km,855 km,795 km,247 km,164 km,235 km,NaN,290 km
"Dumfries, UK",160 km,161 km,53.5 km,242 km,161 km,242 km,251 km,328 km,203 km,305 km,...,639 km,610 km,678 km,586 km,526 km,337 km,198 km,128 km,290 km,NaN

In [76]:


Distance.fillna(0, inplace=True)
Distance =Distance.astype(str)
for col in Distance.columns:
    Distance[col] = Distance[col].str.replace(" km", "")
Distance.index = Distance.index.str.replace(", UK", "")
Distance.columns = Distance.columns.str.replace(", UK", "")
Distance.columns

Index(['Durham', 'Blyth', 'Carlisle', 'Manchester', 'Lancaster', 'Warrington',
       'Liverpool', 'Kingston upon Hull', 'Middlesbrough', 'Sheffield',
       'Leeds', 'Derby', 'Loughborough', 'Lincoln', 'Hereford', 'Telford',
       'Birmingham', 'Norwich', 'Luton', 'Southend-on-Sea', 'Hammersmith',
       'Stratford', 'Woodford', 'Morden', 'Harrow', 'Milton Keynes', 'Woking',
       'Southampton', 'Dover', 'Bristol', 'Poole', 'Exeter', 'Plymouth',
       'Swansea', 'Cardiff', 'Aberdeen', 'Perth', 'Edinburgh', 'Fort William',
       'Dumfries'],
      dtype='object')

In [77]:
def duration_to_decimal(duration_str):
    
    parts = duration_str.split()
    hours = 0
    minutes = 0
    for i in range(len(parts)):
        if parts[i] == 'hour' or parts[i] == 'hours':
            hours = int(parts[i-1])
        elif parts[i] == 'min' or parts[i] == 'mins':
            minutes = int(parts[i-1])
    
    decimal_duration = hours + minutes / 60
    return decimal_duration

In [78]:

Duration.fillna(0, inplace=True)
Duration =Duration.astype(str)
Duration.index = Duration.index.str.replace(", UK", "")
Duration.columns = Duration.columns.str.replace(", UK", "")

for col in Duration.columns:
    Duration[col] = Duration[col].apply(duration_to_decimal).round(2)

Duration

,Durham,Blyth,Carlisle,Manchester,Lancaster,Warrington,Liverpool,Kingston upon Hull,Middlesbrough,Sheffield,...,Poole,Exeter,Plymouth,Swansea,Cardiff,Aberdeen,Perth,Edinburgh,Fort William,Dumfries
Town,,,,,,,,,,,,,,,,,,,,,
Durham,0.00,0.78,1.58,2.48,1.98,2.58,2.92,2.33,0.62,2.17,...,6.03,6.02,6.63,5.90,5.28,5.03,3.47,2.75,5.28,2.12
Blyth,0.78,0.00,1.55,3.00,2.53,3.10,3.43,2.77,1.00,2.68,...,6.55,6.53,7.15,6.42,5.80,4.73,3.17,2.45,5.15,2.08
Carlisle,1.60,1.50,0.00,2.18,1.27,2.17,2.33,3.15,1.87,2.98,...,6.23,5.80,6.42,5.68,5.08,4.10,2.50,2.30,3.95,0.78
Manchester,2.43,2.97,2.18,0.00,1.18,0.67,1.00,2.07,2.15,1.47,...,4.67,4.25,4.87,4.13,3.52,6.05,4.45,4.25,5.90,2.73
Lancaster,1.98,2.53,1.25,1.22,0.00,1.18,1.35,2.62,1.97,2.25,...,5.25,4.83,5.45,4.70,4.10,5.12,3.52,3.32,4.97,1.80
Warrington,2.53,3.07,2.13,0.65,1.12,0.00,0.68,2.17,2.25,1.73,...,4.43,4.00,4.62,3.88,3.28,6.00,4.40,4.18,5.85,2.68
Liverpool,2.87,3.40,2.32,0.97,1.30,0.67,0.00,2.50,2.58,2.10,...,4.82,4.40,5.02,4.08,3.67,6.18,4.58,4.38,6.03,2.87
Kingston upon Hull,2.32,2.78,3.15,2.10,2.58,2.20,2.53,0.00,1.97,1.45,...,5.20,5.18,5.80,5.07,4.45,7.02,5.42,4.85,6.87,3.70
Middlesbrough,0.63,1.02,1.88,2.18,1.97,2.28,2.62,1.95,0.00,1.87,...,5.73,5.72,6.33,5.60,4.98,5.37,3.80,3.08,5.60,2.43
Sheffield,2.15,2.68,2.97,1.43,2.17,1.68,2.08,1.45,1.87,0.00,...,4.40,4.38,5.00,4.27,3.67,6.85,5.23,4.67,6.68,3.52
Leeds,1.62,2.15,2.43,1.13,1.60,1.22,1.55,1.32,1.33,0.95,...,4.85,4.82,5.43,4.70,4.10,6.32,4.70,4.13,6.15,2.98
Derby,2.63,3.18,3.37,1.82,2.35,1.57,1.98,1.87,2.35,1.05,...,3.67,3.63,4.25,3.50,2.90,7.23,5.63,5.17,7.08,3.92
Loughborough,2.85,3.40,3.62,2.07,2.62,1.83,2.23,2.08,2.57,1.28,...,3.47,3.60,4.22,3.48,2.87,7.50,5.88,5.38,7.33,4.17
Lincoln,3.00,3.53,3.82,2.77,3.27,2.88,3.22,1.75,2.72,1.70,...,4.13,4.70,5.32,4.57,3.97,7.70,6.08,5.52,7.53,4.37
Hereford,4.57,5.12,4.40,2.85,3.38,2.60,2.72,3.80,4.28,2.98,...,3.12,2.43,3.05,1.82,1.28,8.27,6.67,6.47,8.12,4.95
Telford,3.57,4.10,3.32,1.77,2.30,1.52,1.68,2.80,3.28,1.98,...,3.62,3.17,3.78,2.93,2.43,7.18,5.58,5.37,7.03,3.87
Birmingham,3.30,3.83,3.28,1.73,2.27,1.48,1.90,2.53,3.02,1.72,...,3.17,2.88,3.50,2.77,2.15,7.15,5.55,5.35,7.00,3.83
Norwich,4.75,5.28,5.57,4.40,4.93,4.15,4.57,3.50,4.45,3.45,...,4.22,5.43,6.07,5.37,4.77,9.43,7.83,7.27,9.28,6.12
Luton,4.10,4.63,4.68,3.13,3.68,2.88,3.30,3.28,3.82,2.52,...,2.33,3.57,4.18,3.50,2.90,8.55,6.95,6.63,8.40,5.23
Southend-on-Sea,4.97,5.50,5.80,4.32,4.85,4.07,4.48,4.03,4.68,3.70,...,3.05,4.27,4.90,4.33,3.72,9.67,8.07,7.50,9.52,6.35
Hammersmith,4.78,5.32,5.18,3.63,4.18,3.40,3.80,3.93,4.48,3.20,...,2.02,3.25,3.87,3.17,2.57,9.07,7.47,7.25,8.90,5.75
Stratford,3.70,4.23,3.95,2.40,2.93,2.15,2.57,2.92,3.40,2.12,...,2.82,2.68,3.30,2.60,2.00,7.82,6.22,6.00,7.67,4.50
Woodford,4.48,5.02,5.30,3.82,4.35,3.57,3.98,3.55,4.20,3.20,...,2.67,3.88,4.52,3.83,3.22,9.18,7.57,7.00,9.02,5.85
Morden,5.18,5.72,5.60,4.05,4.58,3.80,4.22,4.40,4.90,3.60,...,2.18,3.42,4.03,3.58,2.98,9.47,7.87,7.65,9.32,6.15
Harrow,4.57,5.10,5.15,3.60,4.15,3.37,3.77,3.68,4.28,2.98,...,2.17,3.40,4.05,3.37,2.75,9.03,7.42,7.10,8.87,5.70
Milton Keynes,3.75,4.28,4.33,2.78,3.32,2.53,2.95,2.97,3.47,2.17,...,2.73,3.60,4.22,3.53,2.92,8.20,6.60,6.27,8.05,4.88
Woking,4.85,5.38,5.27,3.72,4.25,3.47,3.88,4.07,4.57,3.27,...,1.77,3.00,3.62,3.15,2.55,9.13,7.53,7.33,8.98,5.82
Southampton,5.32,5.85,5.55,4.00,4.55,3.77,4.17,4.53,5.03,3.73,...,0.97,2.57,3.18,3.05,2.45,9.43,7.82,7.62,9.27,6.10
Dover,5.70,6.23,6.53,5.05,5.58,4.80,5.22,4.77,5.42,4.43,...,3.22,4.43,5.07,4.60,4.00,10.40,8.80,8.23,10.25,7.08
Bristol,4.78,5.32,4.62,3.07,3.60,2.82,3.23,4.02,4.50,3.20,...,2.08,1.62,2.23,1.57,0.97,8.48,6.88,6.67,8.33,5.17
Poole,5.95,6.48,6.18,4.63,5.18,4.38,4.80,5.17,5.67,4.37,...,0.00,1.88,2.52,3.32,2.72,10.05,8.45,8.25,9.90,6.73
Exeter,5.95,6.48,5.78,4.23,4.77,3.98,4.40,5.18,5.67,4.37,...,1.88,0.00,1.00,2.62,2.02,9.65,8.05,7.83,9.50,6.33
Plymouth,6.57,7.12,6.40,4.85,5.40,4.60,5.02,5.80,6.28,5.00,...,2.52,1.00,0.00,3.25,2.63,10.27,8.67,8.47,10.12,6.95
Swansea,5.87,6.40,5.70,4.15,4.68,3.90,4.05,5.10,5.58,4.28,...,3.37,2.68,3.30,0.00,1.03,9.57,7.97,7.75,9.42,6.25
Cardiff,5.23,5.77,5.05,3.50,4.05,3.27,3.67,4.45,4.93,3.65,...,2.73,2.03,2.65,0.93,0.00,8.92,7.32,7.12,8.77,5.60
Aberdeen,5.07,4.73,4.18,6.08,5.15,6.05,6.22,7.05,5.37,6.88,...,10.13,9.70,10.32,9.58,8.97,0.00,1.78,2.63,3.57,3.90
Perth,3.47,3.13,2.58,4.50,3.57,4.47,4.63,5.45,3.77,5.28,...,8.53,8.12,8.73,7.98,7.38,1.75,0.00,1.05,2.25,2.32
Edinburgh,2.80,2.47,2.30,4.22,3.28,4.18,4.35,4.88,3.10,4.73,...,8.25,7.83,8.45,7.70,7.10,2.63,1.07,0.00,3.12,2.02
Fort William,5.30,5.10,3.98,5.88,4.95,5.87,6.03,6.85,5.57,6.68,...,9.93,9.50,10.12,9.38,8.78,3.57,2.23,3.13,0.00,3.70
Dumfries,2.17,2.07,0.83,2.75,1.82,2.72,2.88,3.70,2.42,3.55,...,6.78,6.37,6.98,6.25,5.63,3.87,2.27,2.05,3.70,0.00

In [79]:
Duration.to_csv("Duration_cleaned.csv", index=True)
Distance.to_csv("Distance_cleaned.csv", index=True)

In [80]:
Duration_station = pd.read_csv("Duration_station.csv", index_col = "Station")

Duration_station.fillna(0, inplace=True)
Duration_station =Duration_station.astype(str)
Duration_station.columns = Duration_station.columns.str.replace(", UK", "")
for col in Duration_station.columns:
    Duration_station[col] = Duration_station[col].apply(duration_to_decimal).round(2)

Duration_station_cleaned = Duration_station
Duration_station_cleaned.to_csv("Duration_station_cleaned.csv")
Duration_station_cleaned.columns

Index(['Durham', 'Blyth', 'Carlisle', 'Manchester', 'Lancaster', 'Warrington',
       'Liverpool', 'Kingston upon Hull', 'Middlesbrough', 'Sheffield',
       'Leeds', 'Derby', 'Loughborough', 'Lincoln', 'Hereford', 'Telford',
       'Birmingham', 'Norwich', 'Luton', 'Southend-on-Sea', 'Hammersmith',
       'Stratford', 'Woodford', 'Morden', 'Harrow', 'Milton Keynes', 'Woking',
       'Southampton', 'Dover', 'Bristol', 'Poole', 'Exeter', 'Plymouth',
       'Swansea', 'Cardiff', 'Aberdeen', 'Perth', 'Edinburgh', 'Fort William',
       'Dumfries'],
      dtype='object')

In [81]:
Distance_station = pd.read_csv("Distance_station.csv", index_col = "Station")

Distance_station.fillna(0, inplace=True)
Distance_station =Distance_station.astype(str)
for col in Distance_station.columns:
    Distance_station[col] = Distance_station[col].str.replace(" km", "")
Distance_station.columns = Distance_station.columns.str.replace(", UK", "")
Distance_station_cleaned = Distance_station
Distance_station_cleaned.to_csv("Distance_station_cleaned.csv")
Distance_station_cleaned

,Durham,Blyth,Carlisle,Manchester,Lancaster,Warrington,Liverpool,Kingston upon Hull,Middlesbrough,Sheffield,...,Poole,Exeter,Plymouth,Swansea,Cardiff,Aberdeen,Perth,Edinburgh,Fort William,Dumfries
Station,,,,,,,,,,,,,,,,,,,,,
Moto Barton Park,40.5,94.8,112,168,122,191,215,167,36.9,144,...,539,529,598,505,445,482,343,266,435,166
Moto Birch M62 Westbound,200,255,188,14.1,83.1,37.4,60.7,153,176,77.2,...,398,402,471,378,318,558,419,348,511,242
Moto Blyth,174,229,242,100,197,152,175,93.0,150,41.3,...,429,419,488,395,335,611,472,400,564,295
Moto Bridgwater,505,560,513,326,408,314,346,424,481,346,...,118,64.0,132,169,109,883,744,673,836,566
Moto Burton-In-Kendal,126,199,90.3,116,30.8,112,121,258,144,183,...,476,480,548,456,395,460,321,250,413,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Welcome Break Gordano Services M5,455,509,462,276,357,264,295,374,430,295,...,169,115,183,119,58.8,832,693,622,785,516
Welcome Break Michaelwood Southbound Services M5,431,485,438,252,333,240,271,350,406,271,...,139,143,212,129,69.2,808,669,598,761,492
Welcome Break Fleet Southbound Services M3,479,533,536,349,431,337,369,397,454,319,...,115,214,283,261,201,906,767,696,859,589
Welcome Break South Mimms Services M25,408,462,487,301,382,289,320,327,383,248,...,197,296,399,317,257,857,718,634,810,541
Welcome Break Cardiff Gate Services M4,473,528,481,294,376,282,314,392,449,314,...,171,166,234,68.1,9.1,850,711,641,804,534